# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [180]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [181]:
#Loading csv file
file_path="../WeatherPy/output_data/cities.csv"
df=pd.read_csv(file_path)
df.reset_index(drop=True, inplace=True)

In [182]:
#DataFrane Preview
df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max_Temp,Min_Temp,Humidity,Cloudiness,Windspeed
0,0,Butaritari,KI,3.0707,172.7902,301.31,301.31,301.31,65,9,3.30
1,1,Evensk,RU,61.9500,159.2333,285.66,285.66,285.66,50,98,4.35
2,2,Kapaa,US,22.0752,-159.3190,299.99,302.33,298.77,75,1,1.79
3,3,Vaini,TO,-21.2000,-175.2000,296.24,296.24,296.24,68,20,3.60
4,4,Cotonou,BJ,6.3654,2.4183,297.80,297.80,297.80,87,100,5.19

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [186]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [187]:
#Getting the locations and the humidity
locations=df[["Latitude","Longitude"]]
humidity=df["Humidity"]

In [189]:
#Plotting the heat layer on the map
gmaps.configure(api_key=g_key)
fig = gmaps.figure(layout=figure_layout)


heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

In [190]:
#Making  anew copy of df as cities_df
cities_df=df.copy()

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [191]:
#Extracting cities that have max_temp ranging from 294 K to 305 K
#And wind speed< 10 mph
#And cloudiness = 0%
cities_df=cities_df[(cities_df['Max_Temp']>294) &(cities_df['Max_Temp']<305)&(cities_df['Windspeed']<10)&(cities_df['Cloudiness']==0)][:]

In [192]:
#Displaying the selected cities
cities_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max_Temp,Min_Temp,Humidity,Cloudiness,Windspeed
6,6,Khartoum,SD,15.5518,32.5324,302.16,302.16,302.16,51,0,4.63
15,15,Jalu,LY,29.0331,21.5482,301.91,301.91,301.91,32,0,4.15
21,21,Cayenne,GF,4.9333,-52.3333,297.64,297.64,297.17,89,0,1.03
30,30,Ribeira Grande,PT,38.5167,-28.7000,295.59,295.59,295.59,90,0,2.95
32,32,Nouadhibou,MR,20.9310,-17.0347,294.14,294.14,294.14,83,0,7.20
80,80,Çumra,TR,37.5732,32.7745,296.23,296.23,296.23,43,0,2.69
87,87,Mahon,ES,39.8885,4.2658,296.46,296.46,296.46,83,0,3.09
89,89,Carnarvon,AU,-24.8667,113.6333,296.19,296.19,296.19,31,0,7.20
107,107,Shitanjing,CN,39.2342,106.3439,299.00,299.00,299.00,23,0,3.51
124,124,Kiryat Gat,IL,31.6100,34.7642,298.46,302.26,297.08,47,0,1.45
181,181,Palestine,PS,31.9216,35.2033,296.57,297.56,292.23,30,0,1.03
190,190,Lagoa,PT,39.0500,-27.9833,295.23,295.23,295.23,91,0,5.47
238,238,Dahra,DZ,36.2546,0.8519,294.19,294.19,294.19,48,0,1.30
242,242,Sabha,LY,27.0377,14.4283,302.97,302.97,302.97,17,0,4.77
264,264,Ajdabiya,LY,30.7554,20.2263,302.84,302.84,302.84,24,0,2.73
287,287,Darhan,MN,49.4867,105.9228,295.61,295.61,295.61,56,0,3.12
326,326,Tūkrah,LY,32.5341,20.5791,301.02,301.02,301.02,63,0,4.68
355,355,Erzin,TR,36.9559,36.2000,300.55,300.55,297.44,75,0,0.74
415,415,Yafran,LY,32.0633,12.5286,301.40,301.40,301.40,19,0,5.89
423,423,Yuci,CN,37.6803,112.7319,303.01,303.01,303.01,37,0,2.00
437,437,Pavlodar,KZ,52.3000,76.9500,295.04,295.04,295.04,60,0,5.00
489,489,El Dorado,US,38.7666,-120.5177,299.77,303.75,294.73,25,0,0.48
533,533,Baghdad,IQ,33.3406,44.4009,302.10,302.10,302.10,37,0,2.57

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [193]:
#Storing into new data frame hotel_df
hotel_df=cities_df.copy()
#Making empty new column "Hotel Name"
hotel_df["Hotel Name"]=""
#Previewing hotel_df
hotel_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max_Temp,Min_Temp,Humidity,Cloudiness,Windspeed,Hotel Name
6,6,Khartoum,SD,15.5518,32.5324,302.16,302.16,302.16,51,0,4.63,
15,15,Jalu,LY,29.0331,21.5482,301.91,301.91,301.91,32,0,4.15,
21,21,Cayenne,GF,4.9333,-52.3333,297.64,297.64,297.17,89,0,1.03,
30,30,Ribeira Grande,PT,38.5167,-28.7000,295.59,295.59,295.59,90,0,2.95,
32,32,Nouadhibou,MR,20.9310,-17.0347,294.14,294.14,294.14,83,0,7.20,

In [194]:
#Setting base_url and base parameters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {
    "type": "Hotel",
    "radius": 5000,
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get latitude and longitude from hotel_df
    lat = row['Latitude']
    lng=row['Longitude']

    # add location to params dict
    params['location'] = f"{lat},{lng}"

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    #Storing the first hotel name in column Hotel Name for each city   
    hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

In [199]:
#Displaying cities with hotel names
hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Max_Temp,Min_Temp,Humidity,Cloudiness,Windspeed,Hotel Name
6,6,Khartoum,SD,15.5518,32.5324,302.16,302.16,302.16,51,0,4.63,Khartoum
15,15,Jalu,LY,29.0331,21.5482,301.91,301.91,301.91,32,0,4.15,Jalu
21,21,Cayenne,GF,4.9333,-52.3333,297.64,297.64,297.17,89,0,1.03,Cayenne
30,30,Ribeira Grande,PT,38.5167,-28.7000,295.59,295.59,295.59,90,0,2.95,Horta
32,32,Nouadhibou,MR,20.9310,-17.0347,294.14,294.14,294.14,83,0,7.20,Nouadhibou
80,80,Çumra,TR,37.5732,32.7745,296.23,296.23,296.23,43,0,2.69,Çumra
87,87,Mahon,ES,39.8885,4.2658,296.46,296.46,296.46,83,0,3.09,Mahón
89,89,Carnarvon,AU,-24.8667,113.6333,296.19,296.19,296.19,31,0,7.20,Carnarvon
107,107,Shitanjing,CN,39.2342,106.3439,299.00,299.00,299.00,23,0,3.51,Shizuishan
124,124,Kiryat Gat,IL,31.6100,34.7642,298.46,302.26,297.08,47,0,1.45,Kiryat Gat
181,181,Palestine,PS,31.9216,35.2033,296.57,297.56,292.23,30,0,1.03,Jerusalem
190,190,Lagoa,PT,39.0500,-27.9833,295.23,295.23,295.23,91,0,5.47,Santa Cruz Da Graciosa
238,238,Dahra,DZ,36.2546,0.8519,294.19,294.19,294.19,48,0,1.30,Sidi M’Hamed Ben Ali
242,242,Sabha,LY,27.0377,14.4283,302.97,302.97,302.97,17,0,4.77,Sabhā
264,264,Ajdabiya,LY,30.7554,20.2263,302.84,302.84,302.84,24,0,2.73,Ajdabiya
287,287,Darhan,MN,49.4867,105.9228,295.61,295.61,295.61,56,0,3.12,Darkhan
326,326,Tūkrah,LY,32.5341,20.5791,301.02,301.02,301.02,63,0,4.68,Tocra
355,355,Erzin,TR,36.9559,36.2000,300.55,300.55,297.44,75,0,0.74,Erzin
415,415,Yafran,LY,32.0633,12.5286,301.40,301.40,301.40,19,0,5.89,Yefren
423,423,Yuci,CN,37.6803,112.7319,303.01,303.01,303.01,37,0,2.00,Jinzhong
437,437,Pavlodar,KZ,52.3000,76.9500,295.04,295.04,295.04,60,0,5.00,Pavlodar
489,489,El Dorado,US,38.7666,-120.5177,299.77,303.75,294.73,25,0,0.48,Pollock Pines
533,533,Baghdad,IQ,33.3406,44.4009,302.10,302.10,302.10,37,0,2.57,Baghdad

In [201]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [203]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
#gmaps.configure(api_key=g_key)
#fig = gmaps.figure(layout=figure_layout)
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…